{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Participant</title>
</head>
<body>
    <main class="flex items-center justify-center h-screen bg-[url('https://images.unsplash.com/photo-1669295384050-a1d4357bd1d7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center">
        <section>
            <div class="bg-black opacity-85 h-[500px] p-10 overflow-y-auto rounded m-5 border">
                {% block message_block %}
                    {% include "reusable/message.html" %}
                {% endblock message_block %}
                {% block participant_form %}
                    {% include "reusable/participant_form.html" %}
                {% endblock participant_form %}
            </div>
        </section>
    </main>
</body>
</html>