{% load static %}
{% load icons %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Dashboard</title>
</head>
<body>
    <main>
        
        <section>
            <div class="h-[calc(100vh-100px)] relative w-full bg-[url('https://images.unsplash.com/photo-1531058020387-3be344556be6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center">
                <div class="flex flex-col gap-5 items-center justify-center h-full absolute w-full z-10">
                    <div class="flex w-16 h-16 items-center justify-center bg-white rounded-full">
                        <a href="{% url "home" %}">
                            <i class="fa-solid fa-house text-black font-bold text-4xl"></i>
                        </a>
                    </div>
                </div>
                <div class='absolute bg-black top-0 w-full h-full opacity-70'></div>
            </div>
        </section>

        <section class="-mt-8 relative">
            <div class="grid grid-cols-3 w-11/12 mx-auto z-20 bg-white border rounded-md overflow-hidden">
                <div class="flex flex-col items-center justify-center font-semibold {% if request_type == 'event' %} p-5 bg-pink-500 text-white {% endif %}">
                    <a href="{% url 'dashboard' %}?type=event">Events</a>
                </div>
                <div class="flex flex-col items-center justify-center font-semibold {% if request_type == 'category' %} p-5 bg-pink-500 text-white {% endif %}">
                    <a href="{% url 'dashboard' %}?type=category">Categories</a>
                </div>
                <div class="flex flex-col items-center justify-center font-semibold {% if request_type == 'participant' %} p-5 bg-pink-500 text-white {% endif %}">
                    <a href="{% url 'dashboard' %}?type=participant">Participants</a>
                </div>
            </div>
        </section>

        <section >
            <div class="my-20 w-11/12 mx-auto border p-5 rounded-md">
                <div class="flex flex-col items-end">
                    <div class="flex items-center gap-5">
                        {% if request_type != 'participant' %}
                            <div>
                                <form method="get" class="px-5 py-2">
                                    <input type="hidden" name="type" value="{{ request_type }}">
                                    <select name="selected_category" class="px-5 py-2 border rounded-md outline-none"
                                            onchange="this.form.submit()">
                                            <option value="">Choose</option>
                                        {% for category in categories %}
                                            <option value="{{ category.name }}" {% if category.name == selected_category %}selected{% endif %}>
                                                {{ category.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </form>
                                
                            </div>
                        {% endif %}
                        <div>
                            <a class="px-5 py-2 block bg-pink-500 text-white font-medium rounded-md hover:bg-transparent hover:text-pink-500 border hover:border-pink-500 duration-300 " href="{% url url_name %}">{{button_name}}</a>
                        </div>
                    </div>
                </div>
                <table class="table-auto w-full border-collapse border border-gray-300">
                    <thead class="bg-gray-100">
                        {% if request_type == 'event' %}
                            <tr>
                                <th class="border border-gray-300 px-4 py-2">Event Name</th>
                                <th class="border border-gray-300 px-4 py-2">Description</th>
                                <th class="border border-gray-300 px-4 py-2">Category</th>
                                <th class="border border-gray-300 px-4 py-2">Participants</th>
                                <th class="border border-gray-300 px-4 py-2">Date</th>
                                <th class="border border-gray-300 px-4 py-2">Time</th>
                                <th class="border border-gray-300 px-4 py-2">Location</th>
                                <th class="border border-gray-300 px-4 py-2">Action</th>
                            </tr>
                            {% elif request_type == 'category' %}
                                <tr>
                                    <th class="border border-gray-300 px-4 py-2">Category name</th>
                                    <th class="border border-gray-300 px-4 py-2">Description</th>
                                    <th class="border border-gray-300 px-4 py-2">Action</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th class="border border-gray-300 px-4 py-2">Name</th>
                                    <th class="border border-gray-300 px-4 py-2">Email</th>
                                    <th class="border border-gray-300 px-4 py-2">Event name</th>
                                    <th class="border border-gray-300 px-4 py-2">Action</th>
                                </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% if request_type == 'event' %}
                            {% for event in data %}
                                <tr class="hover:bg-gray-50">
                                    <td class="border border-gray-300 px-4 py-2">{{ event.title }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ event.description }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ event.category.name }}</td>
                                    <td class="border border-gray-300 px-4 py-2">
                                        <div class="flex items-center -space-x-2">
                                            {% if event.participants.all|length %}
                                                {% for participant in event.participants.all|slice:':5' %}
                                                    <div class="flex items-center">
                                                        <span class="w-8 h-8 bg-blue-400 rounded-full border flex items-center justify-center">{{participant.name|slice:'0:1'}}</span>
                                                    </div>
                                                {% endfor %}
                                                {% else %}
                                                    <span>No participant</span>
                                            {% endif %}
                                            
                                        </div>
                                    </td>
                                    <td class="border border-gray-300 px-4 py-2">{{ event.date }}</td>
                                    <td class="border border-gray-300 px-4 py-2 uppercase">{{ event.time }}</td>
                                    <td class="border border-gray-300 px-4 py-2 uppercase">{{ event.location }}</td>
                                    <td class="border border-gray-300 px-4 py-2">
                                        <div class="flex items-center gap-5">
                                            <a title="Update" href="{% url 'update-event' event.id %}">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <form action="{% url "delete-event" event.id %}" method="POST">
                                                {% csrf_token %}
                                                <button title="Delete" type="submit">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% elif request_type == 'category' %}
                            {% for category in data %}
                                <tr>
                                    <td class="border border-gray-300 px-4 py-2">{{category.name}}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{category.category_description}}</td>
                                    <td class="border border-gray-300 px-4 py-2">
                                        <div class="flex items-center gap-5">
                                            <a title="Update" href="{% url 'update-category' category.id %}">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <form action="{% url "delete-category" category.id %}" method="POST">
                                                {% csrf_token %}
                                                <button title="Delete" type="submit">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                {% for participant in data %}
                                    <tr>
                                        <td class="border border-gray-300 px-4 py-2 text-center">{{participant.name}}</td>
                                        <td class="border border-gray-300 px-4 py-2 text-center">{{participant.email}}</td>
                                        <td class="border border-gray-300 px-4 py-2 text-center">
                                            <div class="flex flex-col">
                                                {% for event in participant.events.all %}
                                                    <span>{{event.title}}</span>
                                                {% endfor %}
                                            </div>
                                        </td>
                                        <td class="border border-gray-300 px-4 py-2 text-center">
                                            <div class="flex items-center gap-5">
                                                <a title="Update" href="{% url 'update-participant' participant.id %}">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <form action="{% url "delete-participant" participant.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button title="Delete" type="submit">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>